<h1>{{author}}</h1>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="author">author</label>
      {{input value=author id="author" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="body">Question</label>
      {{textarea value=body id="body" class="form-control" rows="15"}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>
{{else}}
  <p>{{body}}</p>

  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
{{/if}}

{{outlet}}

<h2>Answers</h2>

{{#each answer in answers itemController="answer"}}
  <p>
    {{answer.text}}
    <button class="btn btn-xs btn-danger" {{action 'delete'}}>delete</button>
  </p>
{{/each}}

<p>{{#link-to 'new-answer' this class="btn btn-success"}}New answer{{/link-to}}</p>
